Data Source: https://www.kaggle.com/worldbank/world-development-indicators

# Creating geographic maps from Data

In [5]:
!pip install folium

Requirement already satisfied: folium in /usr/local/lib/python3.6/dist-packages (0.8.3)
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from folium) (0.3.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from folium) (1.12.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from folium) (2.21.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from folium) (2.10.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from folium) (1.17.5)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->folium) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->folium) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->folium) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->folium) (2019.11.28)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->folium) (1.1.1)

In [0]:
import folium
import pandas as pd

### Country coordinates for plotting

https://raw.githubusercontent.com/python-visualization/folium/588670cf1e9518f159b0eee02f75185301327342/examples/data/world-countries.json

In [0]:
country_geo = 'world-countries.json'

In [9]:
# Read in the World Development Indicators Database
data = pd.read_csv('Indicators.csv')
data.shape

(5656458, 6)

In [10]:
data.head()

  CountryName CountryCode  ...  Year         Value
0  Arab World         ARB  ...  1960  1.335609e+02
1  Arab World         ARB  ...  1960  8.779760e+01
2  Arab World         ARB  ...  1960  6.634579e+00
3  Arab World         ARB  ...  1960  8.102333e+01
4  Arab World         ARB  ...  1960  3.000000e+06

[5 rows x 6 columns]

In [11]:
# select CO2 emissions for all countries in 2011
hist_indicator = 'CO2 emissions \(metric'
hist_year = 2011

mask1 = data['IndicatorName'].str.contains(hist_indicator) 
mask2 = data['Year'].isin([hist_year])

stage = data[mask1 & mask2]
stage.head()

                                     CountryName CountryCode  ...  Year     Value
5026275                               Arab World         ARB  ...  2011  4.724500
5026788                   Caribbean small states         CSS  ...  2011  9.692960
5027295           Central Europe and the Baltics         CEB  ...  2011  6.911131
5027870  East Asia & Pacific (all income levels)         EAS  ...  2011  5.859548
5028456    East Asia & Pacific (developing only)         EAP  ...  2011  5.302499

[5 rows x 6 columns]

In [12]:
plot_data = stage[['CountryCode','Value']]
plot_data.head()

        CountryCode     Value
5026275         ARB  4.724500
5026788         CSS  9.692960
5027295         CEB  6.911131
5027870         EAS  5.859548
5028456         EAP  5.302499

In [0]:
# label for the legend
hist_indicator = stage.iloc[0]['IndicatorName']

## Visualize CO2 emissions per capita using Folium

Folium provides interactive maps with the ability to create sophisticated overlays for data visualization

In [0]:
# Setup a folium map at a high-level zoom @Alok - what is the 100,0, doesn't seem like lat long
map = folium.Map(location=[100, 0], zoom_start=1.5)

In [19]:
# choropleth maps bind Pandas Data Frames and json geometries.  This allows us to quickly visualize data combinations
folium.Choropleth(geo_data=country_geo, data=plot_data,
             columns=['CountryCode', 'Value'],
             key_on='feature.id',
             fill_color='YlGnBu', fill_opacity=0.7, line_opacity=0.2,
             legend_name=hist_indicator).add_to(map)

In [0]:
# Create Folium plot
map.save('plot_data.html')

### Open plot_data.html in browser to view map